extends ../indexAdmin

block userContent
    .container-fluid.p-5
        h1.text-center #{texto} Producto 
        form(action=`/admin/productos/${action}` method="POST") 
            .form-group
                label.form-label(for="producto" ) Producto:
                select.form-control(name="producto" id="producto" required)
                    option(value="") Selecciona un Producto
                    each producto in productos
                        option(value=producto.id) #{producto.nombre}

            button.btn.btn-primary(type="submit") #{texto} Producto

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")