doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
    body 
        nav.navbar.navbar-expand-lg.navbar-secondary.bg-secondary 
            form(action='/logout', method='GET')
                button.btn.btn-secondary(type='submit') Cerrar Sesión
            a.boton-truco.nav-link(href="/") Seguir comprando

        .container-fluid.p-5
            h1.text-success.mb-3 Carrito de Compras

            if carrito && carrito.productos.length
                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Producto
                            th Cantidad
                            th Precio
                            th Subtotal
                            th Acciones
                    tbody
                        each producto in carrito.productos
                            tr
                                td= producto.nombre
                                td
                                    form(action=`/comprador/carrito/actualizar/${producto.id}` method="POST" class="d-flex align-items-center")
                                        input.form-control(type="number" name="cantidad" value=producto.cantidad min="1" style="width: 80px; margin-right: 5px;")
                                        
                                        button.btn.btn-primary.btn-sm(type="submit") Actualizar
                                        if error && error[producto.id]
                                            p#error-cantidad.text-danger= error[producto.id]
                                td= `$${producto.precio}`
                                td= `$${producto.precio * producto.cantidad}`
                                td
                                    form(action=`/comprador/carrito/eliminar/${producto.id}` method="POST" style="display: inline-block;")
                                        button.btn.btn-danger.btn-sm(type="submit") Eliminar
                div.mt-3
                    h3.mb-3 Total: $#{carrito.total}
                    form(action="/comprador/carrito/vaciar" method="POST" class="d-inline")
                        button.btn.btn-secondary(type="submit") Vaciar Carrito
                    form(action="/webpay_plus/create" method="GET" class="d-inline ml-2")
                        input(type="hidden" name="amount" value=carrito.total)
                        button.btn.btn-success(type="submit") Proceder al Pago

            else
                p Tu carrito está vacío.

        block content
        footer.bg-secondary.text-white.text-center.mt-auto.py-3
            p Integrantes: Sharon Bastidas - Camila Palma - Yeferson Rosales - Mauricio López | Grupo 2
        
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
            
