doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
    body 
        nav.navbar.navbar-expand-lg.navbar-secondary.bg-secondary 
            form(action='/logout', method='GET')
                button.btn.btn-secondary(type='submit') Cerrar Sesión
            
            a.boton-truco.nav-link(href='/comprador/carrito' )
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16")
                    path(d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2")
        .container-fluid.p-2
            h5.text-muted.text-center Bienvenido a la tienda, 
                kbd.bg-warning #{user.correo}

        .container-fluid.p-5
            .row
            h1.text-success.text-center.col.mb-2 Listado de Producto 
                form(action='/filtrar' method='get')
                    .d-flex.align-items-center
                        select.form-control.col.mt-3(id='categoryFilter', name='categoria')
                            option(value='') Todas las categorias
                            each categoria in categorias
                                option(value=categoria.nombre) #{categoria.nombre}
                            //- option(value='Celulares') Celulares
                            //- option(value='Computadores') Computadores
                        button#filtrar.btn.btn-secondary.col-2.mt-3.ml-3(type='submit') Filtrar
                        //- input(type='text', id='categoryFilter', placeholder='Filtrar por categoría')
            .row
                
                each dato in datos
                    if(dato.inventario != 0)
                        .col-md-3.mb-4
                            .card.h-100.shadow.mt-2(data-category=dato.categoria)
                                if dato.imagen
                                    img.card-img-top.img-fluid.p-2(src=dato.imagen, alt=dato.nombre, style="object-fit: contain;max-height: 250px;")
                                .card-body
                                    h5.card-title #{dato.nombre}
                                    p.card-text #{dato.descripcion}
                                    p.card-text
                                        strong Valor: 
                                        | $#{dato.precio}
                                    p.card-text(class=dato.inventario <= 5 ? 'text-danger' : 'text-muted') Stock Disponible #{dato.inventario}
                
                                .card-footer.p-2.text-center
                                    form(action=`/comprador/carrito/agregar/${dato.id}` method="POST")
                                        button.btn.btn-success(type="submit" value=dato) Agregar al carrito
                                
        block content
        footer.bg-secondary.text-white.text-center.mt-auto.py-3
            p Integrantes: Sharon Bastidas - Camila Palma - Yeferson Rosales - Mauricio López | Grupo 2
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
        //- script(src='/js/script.js')
            
